@keyframes bounce {
 0%, 20%, 60%, 100% {
  -webkit-transform: translateY(0);
  transform: translateY(0)
 }

 40% {
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px)
 }

 80% {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px)
 }
}

body {
  background-color: #008274;
}

main {
  height: 70vh;
  background-color: #008274;

  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: sans-serif;
  font-weight: bold;
  color: white;
}

a {
  text-decoration: none;
}

button {
  background: #008d7d;
  border-radius: 8px;
  box-shadow: 0px -2px 4px #006f62;
  border: none;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;


  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: rgb(0, 121, 107);
  animation: bounce 0.6s;
}

div {
  position: absolute;
  bottom: 90px;

  width: 1000px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 80px;
}
